@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Sofadi+One&display=swap');

body
{
    font-family: Gowun Batang;
    margin: 0%;
    padding: 0%;
}

.container
{
    display: flex;
    width: 100%;
    min-height: 94vh;
    height: 94%;
}

h1,h3
{
    margin: 0%;
}

.container > .sidebar
{
    flex: 1;
    background-color: beige;
    padding: 2%;
}

button
{
    font-family:Gowun Batang;
}

.container > .sidebar > .sheader > button
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30%;
    background-color: beige;
    border: 0px;
    font-size: 1.5em;
}

.container > .sidebar > .sheader > button > img
{
    width: 40px;
    border-radius: 100%;
    margin-right: 20px;
}

.container > .sidebar > .smain
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > .sidebar > .smain > div
{
    flex: 1;
    padding: 2%;
}

.smain > div > button > h3
{
    font-family: Gowun Batang;
    font-size: 1.5em;
    display: inline;
    text-align: center;
}

.smain > div > button
{
    /* border: 3px solid black; */
    border: 0px;
    background-color: beige;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align:start;
    width: 100%;
}

.container > .sidebar > .smain > div > button > img
{
    width: 25px;
    justify-content: center;
    justify-self: center;
    padding-right: 3%;
}

.container > .main
{
    flex: 4;
    min-height: 94vh;
    height: 100%;
}

.container > .main > .header
{
    background-image: url("images/book_background.jpg");
    height: 30vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 80%;
}

.header > .shadow
{
    background-color: rgb(0 0 0 / .6);
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.main > .main1
{
    background-color: rgb(238, 220, 197);
    min-height: 64vh;
    height: 100%;
}

#container
{
    padding: 20px;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
}

#container > .grid-item
{
    background-color: aliceblue;
    border-radius: 20px;
    border-left: 10px solid yellow;
    min-width: 27%;
    max-width: 27%;
    max-height: 22vh;
    flex: 1 1 0;
    padding: 2%;
    font-size: 0.8em;
}

#container > .add-book-form
{
    background-color: white;
    width: 100%;
    padding: 3%;
    border-radius: 20px;
}


.flex1
{
    display: flex;
    width: 100%;
}

.flex1 > div
{
    width: 100%;
}

input
{
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 5%;
    width: 80%;
    min-height: 30px;
    font-size: 1.1em;
    padding: 1%;
}

input:invalid 
{
    border-color: red;
}

input:valid
{
    border-color: green;
}

input:focus
{
    border-color: blue;
    box-shadow: 2px 2px;
}

#invalid
{
    padding: 0%;
    margin: 0%;
}

.buttons
{
    border-radius: 10px; 
    background-color:rgb(238, 220, 197); 
    border: 0px; 
    font-size: 1.3em;
    padding: 1%;
}

#checkbox
{
    width: 30px;
    height: 30px;
    box-shadow: none;
    border-radius: 50px;
}

.read
{
    font-size: 2em;
}

.unread {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 0px;
    border-radius: 30px;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
}

.readbu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 0px;
    border-radius: 30px;
    background-color: green;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
}